.container__return {
  display: flex;
  margin: 20px;
}


.container__cat_profile_heading {
  display: flex;
  flex-direction: column;
}

.title__cat_profile {
  color: #50c7f7;
  margin: 5px 0;
}

.cat_profile {
  width: 100vw;
  padding: 40px 60px;
  box-sizing: border-box;
}

.container__top_cat_profile {
  display: flex;
  width: 100%;
}

.container__cat_profile_picture {
  flex-grow: 1;
}

.container__cat_profile_description {
  flex-grow: 1;
}

/* TAGS */
.tags__cat_profile {
  display: flex;
  flex-direction: row;
}

.container__cat_profile_heading ul {
  padding-inline-start: 0px;
}

.container__cat_profile_heading li {
  margin-right: 20px;
  border-radius: 15px;
  padding: 2px 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.068);
  font-size: 0.8em;
  font-weight: bolder;
  color: #463239cb;
}

.tag_affectionate {
  background-color: #D5D6EA;
}

.tag_friendly {
  background-color: #F5D5CB;
}


 /* dd */

.container__img_cat_profile img {
  max-width: 485px;
}

.img__cat_profile {
  width: 485px;
  height: 700px;
  object-fit: cover;
  border-radius: 20px;
}

.container__img_cat_profile {
  position: relative;
}

.icon__save {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon__picture_navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px;
  position: absolute;
  top: 50%;
}

#button__contact_shelter {
  background: #eb4b38;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
