/* MAIN */
.cat_profile {
  /* padding: 40px 60px; */
  /* box-sizing: border-box; */
}


/* RETURN */
.container__return {
  display: flex;
  margin: 20px 60px;
}


/* TOP CONTAINER */
.container__top_cat_profile {
  display: flex;
  justify-content: space-evenly;
}


/* CONTAINER CAT PROFILE PICTURE */
.container__cat_profile_picture {
  width: 385px;
}


/* CONTAINER CAT DESCRIPTION */
.container__cat_profile_description {
  width: 600px
}

.container__cat_profile_heading {
  display: flex;
  flex-direction: column;
}

.container__cat_profile_heading ul {
  padding-inline-start: 0px;
  margin-block-start: 0px;
}

.container__cat_profile_heading li {
  margin-right: 20px;
  border-radius: 15px;
  padding: 2px 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.068);
  font-size: 0.8em;
  font-weight: bolder;
  color: #463239cb;
}

.container__cat_profile_description hr {
  border: 1px solid #4632393f;
}

.title__cat_profile {
  color: #50c7f7;
  margin: 5px 0;
}

.container__cat_details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cat_gender, .cat_age, .cat_breed, .cat_good_with, .cat_sterilized, .cat_health_issues {
  flex: 0 0 40%;
}


/* TAGS */
.tags__cat_profile {
  display: flex;
  flex-direction: row;
}

.tag_adaptable {
  background-color: #D5D6EA;
}

.tag_affectionate {
  background-color: #E2F0CB;
}

.tag_curious {
  background-color: #e7c8e0;
}

.tag_fearful {
  background-color: #f4ebc4;
}

.tag_friendly {
  background-color: #f9d5c6;
}

.tag_grumpy {
  background-color: #badad5;
}

.tag_likes_routine {
  background-color: #fbe3e8;
}

.tag_playful {
  background-color: #c7e8fd;
}

.tag_timid {
  background-color: #fff8ba;
}

.tag_vocal {
  background-color: #ffb0af;
}



 /* dd */

.container__img_cat_profile img {
  max-width: 485px;
}

.img__cat_profile {
  width: 385px;
  height: 555px;
  object-fit: cover;
  border-radius: 20px;
}

.container__img_cat_profile {
  position: relative;
}

.icon__save {
  position: absolute;
  top: 20px;
  right: 20px;
}

.icon__picture_navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px;
  position: absolute;
  top: 50%;
}

#button__contact_shelter {
  background: #eb4b38;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
