/* MAIN */

.container__top_howitworks {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    margin: 60px;
    align-items: center;
}

.container__howitworks_picture img{
    width: 430px;
    height: 580px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.065);
}

.container__howitworks_text {
    max-width: 430px;
    /* line-height: 34px; */
}
.how_it_works h1 {
    font-family: PT Sans Caption, sans-serif;
    color: #473144;
    font-size: 3em;
}

.how_it_works h2 {
    font-family: PT Sans, sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 40px;
}

.how_it_works span {
    font-family: PT Sans, sans-serif;
    font-weight: bold;
    color: #50c7f7;
    line-height: 80px;
}
