footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: -20px;
  box-shadow: 1px 1px 5px 1px #e7e7e7;
  width: 100%;
  font-size: 12px;
  font-family: PT Sans Caption, sans-serif;
  text-transform: uppercase;
}

footer a {
  text-decoration: none;
}

footer ul {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-self: center;
  max-width: 50%;
  padding-inline-start: 0;
}

footer li {
  display: inline;
  margin: 10px 10px;
  padding: 0px;
  transition: 0.2s ease;
}

.footer__social li {
  transition: 0.5s ease;
}

.footer__social li:hover {
  opacity: 0.8;
}

.footer__nav li:hover {
  background-image: linear-gradient(180deg, #f8da22, #f8da22);
  background-repeat: no-repeat;
  background-position: 4px bottom;
  background-size: 100% 10px;
}
