<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Match | Cat Profile</title>

    <!-- ================Google Fonts start================= -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Caption&family=Paytone+One&display=swap"
        rel="stylesheet">
    <!-- =================Google Fonts end================== -->

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!-- ===================Navbar start==================== -->
    <nav class="navbar">
        <a href="index.html"><img src="img/petmatch-dummy-logo.png" alt="petmatch logo" class="logo__img"></a>
        <ul>
            <li>
                <a href="quiz.html">Match Quiz</a>
            </li>
            <li>
                <a href="how-it-works.html">How it Works</a>
            </li>
            <li>
                <a href="about-us.html">About Us</a>
            </li>
            <li>
                <a href="shelter-area.html">Shelter Area</a>
            </li>
        </ul>

        <a href="log-in.html"><button class="navbar__log_in" type="button">Log In</button></a>
    </nav>
    <!-- =====================Navbar end==================== -->


    <!-- =============Cat Profile Content start============= -->
    <main class="cat_profile">
        <div class="container__return">
            <a href="all-matches.html">&#9166; Return to Matches</a>
        </div>


        <div class="container__top_cat_profile">
            <div class="container__cat_profile_picture">
                <div class="container__img_cat_profile">
                    <!-- Image -->
                    <img src="img/catProfile01.jpg" class="img__cat_profile"
                        alt="A brown Birman Mix cat in a blue background.">
                    <!-- Icons -->
                    <div class="icon__save">
                        <img src="icons/heart.svg" alt="Heart this cat">
                    </div>
                    <div class="icon__picture_navigation">
                        <img src="icons/arrow-left.svg" alt="Previous picture icon">
                        <img src="icons/arrow-right.svg" alt="Next picture icon">
                    </div>
                </div>
            </div>

            <div class="container__cat_profile_description">
                <div class="container__cat_profile_heading">
                    <div class="heading__cat_profile">
                        <h1 class="title__cat_profile">Oliver</h1>
                        <span class="percentage_score">85%</span>
                    </div>
                    <ul class="tags__cat_profile">
                        <li class="cat_profile__tag">Affectionate</li>
                        <li class="cat_profile__tag">Vocal</li>
                        <li class="cat_profile__tag">Sweet</li>
                        <li class="cat_profile__tag">Energetic</li>
                    </ul>
                </div>

                <hr>

                <div class="container__cat_details">
                    <div class="cat_characteristics">
                        <h3>Characteristics</h3>
                        <p>Male, Adult</h3>
                    </div>
                    <div class="cat_breed">
                        <h3>Breed</h3>
                        <p>Birman Mix</p>
                    </div>
                    <div class="cat_good-with">
                        <h3>Good With</h3>
                        <p>Children, Other cats</p>
                    </div>
                    <div class="cat_health">
                        <h3>Health</h3>
                        <p>Neutered, Vacinnations up to date, Feline Asthma</p>
                    </div>
                </div>
                <div class="container__contact_shelter">
                    <button id="button__contact_shelter">Contact Shelter</button>
                </div>
            </div>
        </div>
        <div class="container__bottom_cat_profile">

            <hr>

            <h2>Meet Oliver</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut massa venenatis, tempor erat et,
                condimentum metus. Aenean at lectus ut lectus sodales porttitor. Fusce porttitor pulvinar lorem et
                porttitor. Proin non vestibulum dui. Donec sed commodo nisl. Fusce ut nulla sapien. Quisque accumsan
                sollicitudin nulla semper luctus.

                Praesent imperdiet sodales purus, vitae venenatis felis. Cras efficitur neque in augue iaculis, sed
                posuere sem efficitur. Ut sit amet nibh at ex elementum aliquet. Nam rutrum dolor rhoncus ultricies
                finibus. Mauris non lacus et tortor laoreet vehicula et et nibh. Pellentesque laoreet lorem at tincidunt
                hendrerit. Sed eu metus mattis, commodo sapien sed, vulputate lectus.

            </p>

        </div>
    </main>
    <!-- ===============Cat Profile Content end=============== -->


    <!-- ====================Footer start===================== -->
    <footer>
        <ul class="footer__social">
            <li>
                <a href="#insta">
                    <img src="" alt="">
                    <img src="icons/instagram.svg" alt="instagram icon" id="icon__insta">
                </a>
            </li>
            <li>
                <a href="#facebook">
                    <img src="icons/facebook-circle.svg" alt="facebook icon" id="icon__fb">
                </a>
            </li>
            <li>
                <a href="#paypal">
                    <img src="icons/paypal.svg" alt="paypal icon" id="icon__paypal">
                </a>
            </li>
        </ul>

        <ul class="footer__nav">
            <li>About Us</li>
            <li>How It Works</li>
            <li>Imprint</li>
        </ul>
    </footer>
    <!-- =====================Footer end====================== -->

</body>

</html>