<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Match | Cat Profile</title>

    <!-- ================Google Fonts start================= -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Caption&family=Paytone+One&display=swap"
        rel="stylesheet">
    <!-- =================Google Fonts end================== -->

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../webdev/website/src/components/cat/CatDetail.css">
    <link rel="stylesheet" href="../webdev/website/src/components/header/Header.css">
    <link rel="stylesheet" href="../webdev/website/src/components/footer/Footer.css">
</head>

<body>

    <!-- ====================Navbar start===================== -->
    <nav class="navbar">
        <a href="index.html"><img src="img/petmatch-dummy-logo.png" alt="petmatch logo" class="logo__img"></a>
        <ul>
            <li>
                <a href="quiz.html">Match Quiz</a>
            </li>
            <li>
                <a href="how-it-works.html">How it Works</a>
            </li>
        </ul>
        <div class="navbar__login_signup">
            <a href="log-in.html"><button class="button__navbar_login">Log In</button></a>
            <a href="sign-uphtml"><button class="button__navbar_signup">Sign Up</button></a>
        </div>
    </nav>
    <!-- =====================Navbar end====================== -->


    <!-- =============Cat Profile Content start============= -->
    <main class="cat_profile">
        <div class="container__return">
            <a href="matching-result.html">&#9166; Return to Matches</a>
        </div>


        <div class="container__top_cat_profile">
            <div class="container__cat_profile_picture">
                <div class="container__img_cat_profile">
                    <!-- Image -->
                    <img src="img/anthony.jpg" class="img__cat_profile"
                        alt="A brown Birman Mix cat in a blue background.">
                    <!-- Icons -->
                    <div class="icon__save">
                        <img src="icons/heart.svg" alt="Heart this cat">
                    </div>
                    <div class="icon__picture_navigation">
                        <img src="icons/arrow-left.svg" alt="Previous picture icon">
                        <img src="icons/arrow-right.svg" alt="Next picture icon">
                    </div>
                </div>
            </div>

            <div class="container__cat_profile_description">
                <div class="container__cat_profile_heading">
                    <h1 class="title__cat_profile">Anthony</h1>
                    <ul class="tags__cat_profile">
                        <li class="tag_affectionate">Affectionate</li>
                        <li class="tag_friendly">Friendly</li>
                    </ul>

                </div>

                <hr>

                <div class="container__cat_details">
                    <div class="cat_gender">
                        <h3>Gender</h3>
                        <p>Male</p>
                    </div>
                    <div class="cat_age">
                        <h3>Age</h3>
                        <p>2 y.o.</p>
                    </div>
                    <div class="cat_breed">
                        <h3>Breed</h3>
                        <p>Birman</p>
                    </div>
                    <div class="cat_good_with">
                        <h3>Good With</h3>
                        <p>Kids, </p>
                        <p>Other cats</p>
                    </div>
                    <div class="cat_sterilized">
                        <h3>Sterilized?</h3>
                        <p>No</p>
                    </div>
                    <div class="cat_health_issues">
                        <h3>Health issues?</h3>
                        <p>No</p>
                    </div>
                </div>
                <div class="container__contact_shelter">
                    <div class="cat_available_at">
                        <h4>Available at: <span class="cat_shelter">Katzen in Not Berlin e.V.</span></h4>

                    </div>
                    <div class="container__button_contact_shelter">
                        <a href="https://www.facebook.com/katzeninnotberlin/"><button
                                class="button__contact_shelter">Contact Shelter</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container__bottom_cat_profile">

            <hr>

            <h2>Meet Anthony</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut massa venenatis, tempor erat et,
                condimentum metus. Aenean at lectus ut lectus sodales porttitor. Fusce porttitor pulvinar lorem et
                porttitor. Proin non vestibulum dui. Donec sed commodo nisl. Fusce ut nulla sapien. Quisque accumsan
                sollicitudin nulla semper luctus.

                Praesent imperdiet sodales purus, vitae venenatis felis. Cras efficitur neque in augue iaculis, sed
                posuere sem efficitur. Ut sit amet nibh at ex elementum aliquet. Nam rutrum dolor rhoncus ultricies
                finibus. Mauris non lacus et tortor laoreet vehicula et et nibh. Pellentesque laoreet lorem at tincidunt
                hendrerit. Sed eu metus mattis, commodo sapien sed, vulputate lectus.

            </p>

        </div>
    </main>
    <!-- ===============Cat Profile Content end=============== -->


    <!-- ====================Footer start===================== -->
    <footer>
        <ul class="footer__social">
            <li>
                <a href="#insta">
                    <img src="" alt="">
                    <img src="icons/instagram.svg" alt="instagram icon" id="icon__insta">
                </a>
            </li>
            <li>
                <a href="#facebook">
                    <img src="icons/facebook-circle.svg" alt="facebook icon" id="icon__fb">
                </a>
            </li>
            <li>
                <a href="#paypal">
                    <img src="icons/paypal.svg" alt="paypal icon" id="icon__paypal">
                </a>
            </li>
        </ul>

        <ul class="footer__nav">
            <li>About Us</li>
            <li>How It Works</li>
            <li>Imprint</li>
        </ul>
    </footer>
    <!-- =====================Footer end====================== -->

</body>

</html>