/* BANNER */
.banner__homepage {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    position: relative;
    width: 100vw;
    height: 500px;
}

.banner__homepage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.cta__homepage a {
    text-decoration: none;
    color: #ffffff;
}

.cta__homepage a:hover {
    text-decoration: none;
    color: #50c7f7;
}

.h1__homepage {
    padding-left: 50px;
    position: relative;
    max-width: 450px;
    text-shadow: 1px 1px 2px #c48d89;
}

/* USER HOME */

.container__homepage_bottom {
    display: flex;
    flex-direction: column;
}

.container__homepage_bottom h2 {
    font-size: 1.2em;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.container__homepage_bottom h3 {
    font-size: 1.2em;
    font-family: PT Sans, sans-serif;
    margin-block-start: 5px;
    margin-block-end: 5px;
}

.container__user_home {
    display: flex;
    flex-direction: column;
}

.container__user_options {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 350px;
    height: 100px;
    background-color: #F0F8FA;
    border-radius: 30px;
    justify-content: space-evenly;
    margin: 20px 40px;
}

.container__user_options span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.container__icon_user {
    align-self: center;
}

.container__icon_user img {
    width: 60px;
    height: 60px;
}

.container__text_user {
    align-self: center;
}
