<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Match | How It Works</title>

    <!-- =================Google Fonts start================== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Caption&family=Paytone+One&display=swap"
        rel="stylesheet">
    <!-- ==================Google Fonts end=================== -->

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../webdev/website/src/components/howitworks/HowItWorks.css">
</head>

<body>

    <!-- ====================Navbar start===================== -->
    <nav class="navbar">
        <a href="index.html"><img src="img/petmatch-dummy-logo.png" alt="petmatch logo" class="logo__img"></a>
        <ul>
            <li>
                <a href="quiz.html">Match Quiz</a>
            </li>
            <li>
                <a href="how-it-works.html">How it Works</a>
            </li>
            <li>
                <a href="about-us.html">About Us</a>
            </li>
            <li>
                <a href="shelter-area.html">Shelter Area</a>
            </li>
        </ul>

        <div class="navbar__login_signup">
            <a href="log-in.html" class="navbar__login">Log In</a>
            <p>|</p>
            <a href="sign-uphtml" class="navbar__signup">Sign Up</a>
        </div>
    </nav>
    <!-- =====================Navbar end====================== -->

    <!-- ======================Main start===================== -->
    <main class="how_it_works">
        <div class="container__top_howitworks">
            <div class="container__howitworks_picture">
                <img src="img/adopterAndCat04.jpg" id="img__howitworks"
                    alt="Young woman looking down at her diluted tortie cat, which she is holding.">
            </div>
            <div class="container__howitworks_text">
                <h1 class="title__howitworks">How it works</h1>
                <h2 class="subtitle__howitworks">Do you want to adopt a cat in Germany but doesn't know where to start
                    or what to look for in your perfect companion?
                    <br>
                    <span class="subtitle__howitworks">We can help you!</span>
                </h2>
            </div>
        </div>

        <div class="container__bottom_howitworks">

        </div>
    </main>
    <!-- ======================Main end======================= -->

    <!-- ====================Footer start===================== -->
    <footer>
        <ul class="footer__social">
            <li>
                <a href="#insta">
                    <img src="" alt="">
                    <img src="icons/instagram.svg" alt="instagram icon" id="icon__insta">
                </a>
            </li>
            <li>
                <a href="#facebook">
                    <img src="icons/facebook-circle.svg" alt="facebook icon" id="icon__fb">
                </a>
            </li>
            <li>
                <a href="#paypal">
                    <img src="icons/paypal.svg" alt="paypal icon" id="icon__paypal">
                </a>
            </li>
        </ul>

        <ul class="footer__nav">
            <li>About Us</li>
            <li>How It Works</li>
            <li>Imprint</li>
        </ul>
    </footer>
    <!-- =====================Footer end====================== -->

</body>

</html>