<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Match</title>

    <!-- ================Google Fonts start================= -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Caption&family=Paytone+One&display=swap"
        rel="stylesheet">
    <!-- =================Google Fonts end================== -->

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../webdev/website/src/components/header/Header.css">
</head>

<body>

    <!-- ====================Navbar start===================== -->
    <nav class="navbar">
        <a href="index.html"><img src="img/petmatch-dummy-logo.png" alt="petmatch logo" class="logo__img"></a>
        <ul>
            <li>
                <a href="quiz.html">Match Quiz</a>
            </li>
            <li>
                <a href="how-it-works.html">How it Works</a>
            </li>
        </ul>
        <div class="navbar__user_logged_in">
            <div class="user__greeting">
                <img src="icons/user-avatar.svg" alt="User Avatar">
                <a href="log-out">Hi, Alex</a>
            </div>
            <div>
                <button class="button__navbar_logout">Log Out</button>
            </div>
        </div>
    </nav>
    <!-- =====================Navbar end====================== -->


</body>

</html>