body {
    font-family: PT Sans, sans-serif;
    font-size: 100%;
    color: #463239;
    margin: 0;
}

h1 {
    font-family: Paytone One, sans-serif;
    font-size: 4em;
    color: #FFFFFF;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.065);
}

h2 {
    font-family: Paytone One, sans-serif;
    font-size: 3em;
}

h3 {
    font-family: PT Sans Caption, sans-serif;
    font-size: 1.5em;
}

h4 {
    font-family: PT Sans Caption, sans-serif;
    font-size: 1em;

}

ul {
    list-style-type: none;
}

a {
    color:#50C7F7;
    font-weight: bold;
    text-decoration: solid underline 2px;
}

a:hover {
    color:#f8da22;
    transition: 0.2s ease;
}

a:active {
    color: #EB4B38;
}

button {
    transition: 0.2s ease;
    border: none;
    border-radius: 30px;
    max-width: 135px;
    height: 40px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.065);
}

button:hover {
    transition: 0.2s ease;
}

/* ====================General end===================== */



/* ====================Nav Bar start=================== */

.navbar {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 1px 5px 1px #e7e7e7;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 8vh;
    font-size: 16px;
    font-family: PT Sans Caption, sans-serif;
    text-transform: uppercase;
}

.navbar ul {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-self: center;
    max-width: 50%;
    padding-inline-start: 0;
}

.navbar li {
    transition: 0.2s ease;
}

.navbar li:hover {
    background-image: linear-gradient(180deg, #f8da22, #f8da22);
    background-repeat: no-repeat;
    background-position: 4px bottom;
    background-size: 100% 10px;
}

.navbar a {
    display: flex;
    align-self: center;
    text-decoration: none;
    color: #463239;
}

.navbar .logo__img {
    max-height: 50px;
}

.navbar .logo__img:hover {
    opacity: 50%;
    max-height: 50px;
}

.button__navbar_login {
    background: none;
    color: #eb4b38;
    font-weight: bolder;
    border: none;
    box-shadow: none;
}

.navbar__login_signup {
    display: flex;
    align-self: center;
    text-decoration: none;
}

.button__navbar_login:hover {
    background: none;
    color: #9e1f11;
    font-weight: bolder;
    border: none;
    box-shadow: none;
}

.button__navbar_signup {
    border: 2px solid;
    border-color: #eb4b38;
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #eb4b38;
    height: 30px;
    padding: 0 10px;
}

.button__navbar_signup:hover {
    border-color: #eb4b38;
    background-color: #eb4b38;
    color: #FFFFFF;
}

/* ====================Nav Bar end===================== */



/* ===================Homepage start=================== */



/* ====================Homepage end==================== */



/* =================Cat Profile start================== */

.cat_profile {
    width: 100vw;
    padding: 40px 60px;
    box-sizing: border-box;
}

.container__top_cat_profile {
    display: flex;
    width: 100%;
}

.container__cat_profile_picture {
    flex-grow: 1;
}

.container__cat_profile_description {
    flex-grow: 1;
}

.heading__cat_profile {
    display: flex;
    align-items: center;
}

.tags__cat_profile {
    display: flex;
}

.container__img_cat_profile {
    max-width: 485px;
}

.img__cat_profile {
    width: 100%;
    border-radius: 20px;
}

.title__cat_profile {
    color: #50c7f7;
}

.container__img_cat_profile {
    position: relative;
}

.icon__save {
    position: absolute;
    top: 20px;
    right: 20px;
}

.icon__picture_navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
    position: absolute;
    top: 50%;
}

#button__contact_shelter {

background: #EB4B38;
color: #ffffff;
border: none;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
border-radius: 30px;

}

/* =================Contact Form start================= */

/* .main__contact_page {
    padding: 20px 60px;
}

.main__contact_page .contact__form input[type=text], [type=email], textarea {
    margin-bottom: 10px;
    border: 1px solid #FFEBF3;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px;
    background-color: #F7F2F4;
    font-family: PT Sans Caption, sans-serif;
    color: #463239;
}

.main__contact_page .contact__form input[type=submit] {
    border-color: #50C7F7;
    background-color: #FFFFFF;
    color: #50C7F7;
}

.main__contact_page .contact__form input[type=submit]:hover {
    background-color: #50C7F7;
    color: #FFFFFF;
}

.main__contact_page .contact__form select {
    margin-bottom: 10px;
    border: 1px solid #FFEBF3;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 20px;
    background-color: #F7F2F4;
    font-family: PT Sans Caption, sans-serif;
    color: #918489;
}

.main__contact_page .contact__form ::placeholder {
    color: #918489;
}

.main__contact_page .contact__form #message {
    height: 200px;
} */

/* ==================Contact Form end================== */



/* ====================Footer start==================== */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-bottom: -20px; */
    box-shadow: 1px 1px 5px 1px #e7e7e7;
    width: 100%;
    height: 16vh;
    font-size: 12px;
    font-family: PT Sans Caption, sans-serif;
    text-transform: uppercase;
}

footer a {
    text-decoration: none;
}

footer ul {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-self: center;
    max-width: 50%;
    padding-inline-start: 0;
}

footer li {
    display: inline;
    margin: 10px 10px;
    padding: 0px;
    transition: 0.2s ease;
}

.footer__social li {
    transition: 0.5s ease;
}

.footer__social li:hover {
    opacity: 0.8;
}

.footer__nav li:hover {
    background-image: linear-gradient(180deg, #f8da22, #f8da22);
    background-repeat: no-repeat;
    background-position: 4px bottom;
    background-size: 100% 10px;
}

/* =====================Footer end===================== */



/* ================Media Queries start================= */

@media (max-width: 768px){

    button {
        max-width: 135px;
        height: 30px;
        padding: 0 10px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar li {
        text-align: center;
    }

    .navbar .logo__img {
        max-height: 35px;
    }
}

@media (max-width: 576px){
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }
}

/* =================Media Queries end================== */