.navbar {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 1px 1px 5px 1px #e7e7e7;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 8vh;
  font-size: 16px;
  font-family: PT Sans Caption, sans-serif;
  text-transform: uppercase;
}

.navbar ul {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-self: center;
  max-width: 50%;
  padding-inline-start: 0;
}

.navbar li {
  transition: 0.2s ease;
}

.navbar li:hover {
  background-image: linear-gradient(180deg, #f8da22, #f8da22);
  background-repeat: no-repeat;
  background-position: 4px bottom;
  background-size: 100% 10px;
}

.navbar a {
  display: flex;
  align-self: center;
  text-decoration: none;
  color: #463239;
}

.navbar .logo__img {
  max-height: 50px;
}

.navbar .logo__img:hover {
  opacity: 50%;
  max-height: 50px;
}

.button__navbar_login {
  background: none;
  color: #eb4b38;
  font-weight: bolder;
  border: none;
  box-shadow: none;
}

.navbar__login_signup {
  display: flex;
  align-self: center;
  text-decoration: none;
}

.button__navbar_login:hover {
  background: none;
  color: #9e1f11;
  font-weight: bolder;
  border: none;
  box-shadow: none;
}

.button__navbar_signup {
  border: 2px solid;
  border-color: #eb4b38;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #eb4b38;
  height: 30px;
  padding: 0 10px;
}

.button__navbar_signup:hover {
  border-color: #eb4b38;
  background-color: #eb4b38;
  color: #FFFFFF;
}



/* WHEN USER IS LOGGED IN */
.navbar__user_logged_in {
  display: flex;
  align-self: center;
  text-decoration: none;
}

.user__greeting {
  display: flex;
  margin-right: 20px;
}

.user__greeting img {
  width: 30px;
  margin-right: 5px;
}

.user__greeting a {
  text-transform: capitalize;
  font-weight: bolder;
  color: #eb4b38;
}

.user__greeting a:hover {
  color: #9e1f11;
}

.button__navbar_logout {
  border: 2px solid;
  border-color: #eb4b38;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #eb4b38;
  height: 30px;
  padding: 0 10px;
}

.button__navbar_logout:hover {
  border-color: #eb4b38;
  background-color: #eb4b38;
  color: #FFFFFF;
}