/* HEADER */
.container__img_privacy_policy {
  position: relative;
}

.container__img_privacy_policy img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.container__img_privacy_policy h1 {
  position: absolute;
  top: 30%;
  margin: 40px;
}

.container__text_privacy_policy {
  padding: 40px 200px;
  background-color: #f0f8fa;
}

/* MAIN */

.h2_privacy_policy {
  font-size: 24px;
  font-family: PT Sans, sans-serif;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 5px;
}

.p_privacy_policy {
  font-size: 20px;
  font-family: PT Sans, sans-serif;
  margin-top: 5px;
}

/* a {
    font-size: 20px;
    font-family: PT Sans, sans-serif;
} */

.li_privacy_policy {
  font-size: 20px;
  font-family: PT Sans, sans-serif;
  list-style-position: inside;
  list-style: square;
}

address a {
  font-size: 16px;
}
