.main__signup_page {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#50C7F7, #49e2a7);
}


.container__signup_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 80px 400px;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.065);
}


/* BUTTONS */
.button__signup_submit {
  margin-top: 16px;
  margin-bottom: 32px;
  text-align: center;
  background-color: #50C7F7;
  color: #FFFFFF;
  max-width: 200px;
}

.button__signup_submit:hover {
  background-color: #0babea;
  color: #FFFFFF;
  max-width: 200px;
}


/* SIGN UP FORM */
.form__signup {
  width: 45%;
}

.form__signup label {
  font-size: 10px;
}

.container__signup_option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__signup_option h2 {
  font-size: 2em;
}

.container__signup_option p {
  font-size: 0.2 em;
  font-family: PT Sans Caption, sans-serif;
  margin-bottom: 0;
}

.form__signup input[type="text"], .form__signup input[type="email"], .form__signup input[type="password"] {
  margin-bottom: 16px;
  border: 1px solid #ecf9fe;
  border-radius: 3px;
  border-color: #50c8f73f;
  box-sizing: border-box;
  width: 100%;
  padding: 16px 20px;
  background-color: #ecf9fe;
  font-family: PT Sans Caption, sans-serif;
  color: #463239;
}

.form__signup ::placeholder {
  color: #b9b9b9;
}


/* ERROR MESSAGE */
.error__signup {
  color: #842029;
  background-color: #f8d7da;
  border-radius: 3px;
  border: 1px solid #f5c2c7;
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.error__signup p {
  margin: 5px 10px;
}
