/* BANNER */
.banner__homepage {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  position: relative;
  width: 100vw;
  height: 500px;
}

.banner__homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  background-position: bottom center;
}

.h1__homepage {
  padding: 100px;
  position: relative;
  max-width: 600px;
  text-shadow: 1px 1px 2px #c48d89;
}

.cta__homepage a {
  text-decoration: none;
  color: #ffffff;
}

.cta__homepage a:hover {
  text-decoration: none;
  color: #50c7f7;
}

/* .h1__homepage {
  padding-left: 50px;
  position: relative;
  max-width: 450px;
  text-shadow: 1px 1px 2px #c48d89;
} */
