/* BANNER */
.banner__homepage {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  position: relative;
  width: 100vw;
  height: 500px;
}

.banner__homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  background-position: bottom center;
}

.h1__homepage {
  font-size: 60px;
  padding: 100px;
  position: relative;
  max-width: 400px;
  text-shadow: 1px 1px 2px #c48d89;
}


/* BUTTON */
.button__take_quiz {
  background: #50c7f7;
  color: #FFFFFF;
  margin: 20px 50px;
  max-width: 200px;
}

.button__take_quiz:hover {
  background-color: #3695bb;
}

.button__take_quiz a {
  text-decoration: none;
  color: #ffffff;
}

/* .button__take_quiz a:hover {
  text-decoration: none;
  color: #50c7f7;
} */
