/* BANNER */
.banner__homepage {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  position: relative;
  width: 100vw;
  height: 500px;
}

.banner__homepage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: cover;
  background-position: bottom center;
}

.h1__homepage {
  padding: 100px;
  position: relative;
  max-width: 600px;
  text-shadow: 1px 1px 2px #c48d89;
}


/* BUTTON */
.button__take_quiz {
  background: #f8da22;
  color: #463239;
  margin: 20px 200px;
  max-width: 200px;
}

.button__take_quiz:hover {
  background-color: #c0aa1c;
}

.cta__homepage a {
  text-decoration: none;
  color: #ffffff;
}

.cta__homepage a:hover {
  text-decoration: none;
  color: #50c7f7;
}
