/* IMG */
.img__card {
  width: 300px;
  height: 215px;
}

.img__card img {
  width: 300px;
  height: 215px;
  object-fit: cover;
  object-position: 50% 25%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* MAIN */
.matching_results h1 {
  color: #50c7f7;
}

.matching_results {
  display: flex;
  flex-direction: row;
}

.container__filters {
  /* width: 20vw; */
  margin-top: 175px;
  margin-left: 50px;
  margin-right: 50px;
}

.filter {
  display: flex;
  flex-direction: column;
  font-family: PT Sans, sans-serif;
  font-size: 14px;
}

.filter p {
  font-weight: bolder;
  margin-block-start: 20px;
  margin-block-end: 5px;
}

.filter label {
  margin-block-start: 0px;
  margin-block-end: 5px;
}

.container__results {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 80vw;
}

.container__title {
  margin-left: 40px;
}

/* CARDS */
.container__cat_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container__card_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.a__more_details {
  margin-block-end: 0px;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  display: none;
}

.cat_card {
  border-radius: 10px;
  background-color: #f0f8fa;
  margin-bottom: 50px;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.065);
}

.cat_card:hover {
  background-color: #f8dc22a6;
}

.cat_card:hover .a__more_details {
  display: block;
  color: #eb4b38;
}

/* This enables the whole cat card to be a link to the cat profile */
.a__cat_profile span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  z-index: 1;
}

.description__card {
  padding-left: 20px;
  padding-right: 20px;
}

.description__card h2 {
  font-size: 28px;
  margin-block-end: 0px;
}

.description__card h3 {
  font-size: 18px;
  font-family: PT Sans, sans-serif;
  font-weight: lighter;
  margin-block-start: 0px;
}

.description__card h4 {
  font-size: 18px;
  font-family: PT Sans, sans-serif;
  text-align: right;
  font-weight: lighter;
}
