/* ====================General start===================== */
body {
  font-family: PT Sans, sans-serif;
  font-size: 100%;
  color: #463239;
  margin: 0;
}

h1 {
  font-family: Paytone One, sans-serif;
  font-size: 4em;
  color: #ffffff;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.065);
}

h2 {
  font-family: Paytone One, sans-serif;
  font-size: 3em;
}

h3 {
  font-family: PT Sans Caption, sans-serif;
  font-size: 1.5em;
}

h4 {
  font-family: PT Sans Caption, sans-serif;
  font-size: 1em;
}

ul {
  list-style-type: none;
}

a {
  color: #50c7f7;
  font-weight: bold;
  text-decoration: solid underline 2px;
}

a:hover {
  color: #f8da22;
  transition: 0.2s ease;
}

a:active {
  color: #eb4b38;
}

button {
  transition: 0.2s ease;
  border: none;
  border-radius: 30px;
  max-width: 135px;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.065);
}

button:hover {
  transition: 0.2s ease;
}
/* ====================General end===================== */

/* ====================Nav Bar start=================== */
/* ====================Nav Bar end===================== */

/* ===================Homepage start=================== */
/* === images can only be resolved / loaded if      === */
/* === reference to them resides in public-folder   === */
.banner__homepage::before {
  background: url(./img/kitten-hero_01.png);
}

.img_hero_cover::before {
  background: url(./img/hero-user.png);
}
/* ====================Homepage end==================== */


/* ================Media Queries start================= */
@media (max-width: 768px) {
  button {
    max-width: 135px;
    height: 30px;
    padding: 0 10px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar li {
    text-align: center;
  }

  .navbar .logo__img {
    max-height: 35px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }
}
/* =================Media Queries end================== */